@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@media (max-width: 792px) {
    .p-sm-0 {
        padding: 0 !important;
    }
}
.p-0\.5-important {
    padding: 0.125rem !important; /* 2px */
}
.border-t-1 {
    border-top: 1px;
}
.MuiDrawer-paper{
    overflow-y: unset !important;
}

.MuiListItemIcon-root {
    min-width: 14px !important;
    margin-right: 12px;
}

.d-flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column !important;
}

.flex-grow-1 {
    flex-grow: 1 !important;
}
.align-items-center {
    align-items: center !important;
}
.py-1 {
    padding-top: 0.25rem; /* 4px */
    padding-bottom: 0.25rem; /* 4px */
}
.py-1\.5 {
    padding-top: 0.375rem; /* 6px */
    padding-bottom: 0.375rem; /* 6px */
}
.py-10{
    padding-top: 2.5rem; /* 40px */
    padding-bottom: 2.5rem; /* 40px */
}

::-webkit-scrollbar {
    width: 5px;
  }
   
  ::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #BBB; 
  }